---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "/assets/CM/Serif/cmun-serif.css",
        "/assets/CM/Typewriter/cmun-typewriter.css"
;

// My changes
body {
    font-family: "Computer Modern Serif";
}

pre, code, .site-title {
    font-family: "Computer Modern Typewriter";
}

.post-header {
    text-align: center;

    .post-title {
        margin: 40px;
    }
}

.post-content {
    text-align: justify;

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    // More whitespace for non-text elements
    .figure, table, .src {
        margin: 30px auto;
    }

    // Caption text
    .figure p, table caption {
        font-size: 14px;
    }

    // Images narrower
    .figure {
        display: table;
        max-width: 90%;
        img {
            margin: 0 auto;
            display: block;
        }
        p:nth-child(2) {
            display: table-caption;
            caption-side: bottom;
        }
    }

    div#table-of-contents {
        margin: 1.2em 50px;
    }

    code {
        background-color: white;
    }

    pre.example {
        margin: 1.2em calc((100%  - 600px) / 2);
    }
    div.org-src-container {
        margin: 0 auto;
        width: 600px;
        overflow: auto; // scrollbar only if req'd
    }
    div.org-src-container pre.src {
        margin: 1.2em 0;
    }
    div.org-src-container pre.src, pre.example {
        //background-color: #333;
        background-color: #1C2228;
        color: white;
    }

    table.side-by-side-figure {
        table-layout: fixed;
        width: 100%;
        td {
            padding: 0 10px;
        }
    }

    // Inner lists alpha
    ol ol {
        list-style-type: lower-alpha;
    }

    // Make footnote mote subtle and separated from text
    .footnotes {
        font-style: italic;
        font-size: 26px;
        border-top: 1px solid darkgrey;
        margin-top: 30px;
        padding-top: 10px;
    }

    // experimental: footnotes and tags together on each line.
    .footdef {
        white-space: nowrap;

        sup, p {
            display: inline-block;
        }
    }
}


@import "svg-icons";
